*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:50vh;
    background: #000;
}

h1{
    margin: 0%;
    padding: 0%;
    color: #111;
    font-size: 6em;
}

h1 span{
    display: table-cell;
    margin: 20px;
    padding: 2rem;
    color: #111;
    filter: blur(0px);
    text-shadow: none;
    animation-duration: 4.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

h1 span:nth-child(1){ animation-name: glow-letter-1; }
h1 span:nth-child(2){ animation-name: glow-letter-2; }
h1 span:nth-child(3){ animation-name: glow-letter-3; }
h1 span:nth-child(4){ animation-name: glow-letter-4; }
h1 span:nth-child(5){ animation-name: glow-letter-5; }

@keyframes glow-letter-1{
    0%,7%,54%,63%,72%,100%{ color: #111; filter: blur(0px); text-shadow: none; }
    2%,5%,58%,67%{ color: #fff; filter: blur(2px); text-shadow: 0 0 10px #ff9d00, 0 0 20px #ff9d00, 0 0 40px #ff9d00, 0 0 80px #ff9d00, 0 0 120px #ff9d00, 0 0 200px #ff9d00, 0 0 300px #ff9d00, 0 0 400px #ff9d00; }
}

@keyframes glow-letter-2{
    0%,9%,16%,54%,63%,72%,100%{ color: #111; filter: blur(0px); text-shadow: none; }
    11%,14%,58%,67%{ color: #fff; filter: blur(2px); text-shadow: 0 0 10px #ff9d00, 0 0 20px #ff9d00, 0 0 40px #ff9d00, 0 0 80px #ff9d00, 0 0 120px #ff9d00, 0 0 200px #ff9d00, 0 0 300px #ff9d00, 0 0 400px #ff9d00; }
}

@keyframes glow-letter-3{
    0%,18%,25%,54%,63%,72%,100%{ color: #111; filter: blur(0px); text-shadow: none; }
    20%,23%,58%,67%{ color: #fff; filter: blur(2px); text-shadow: 0 0 10px #ff9d00, 0 0 20px #ff9d00, 0 0 40px #ff9d00, 0 0 80px #ff9d00, 0 0 120px #ff9d00, 0 0 200px #ff9d00, 0 0 300px #ff9d00, 0 0 400px #ff9d00; }
}

@keyframes glow-letter-4{
    0%,27%,34%,54%,63%,72%,100%{ color: #111; filter: blur(0px); text-shadow: none; }
    29%,32%,58%,67%{ color: #fff; filter: blur(2px); text-shadow: 0 0 10px #ff9d00, 0 0 20px #ff9d00, 0 0 40px #ff9d00, 0 0 80px #ff9d00, 0 0 120px #ff9d00, 0 0 200px #ff9d00, 0 0 300px #ff9d00, 0 0 400px #ff9d00; }
}

@keyframes glow-letter-5{
    0%,36%,45%,54%,63%,72%,100%{ color: #111; filter: blur(0px); text-shadow: none; }
    38%,43%,58%,67%{ color: #fff; filter: blur(2px); text-shadow: 0 0 10px #ff9d00, 0 0 20px #ff9d00, 0 0 40px #ff9d00, 0 0 80px #ff9d00, 0 0 120px #ff9d00, 0 0 200px #ff9d00, 0 0 300px #ff9d00, 0 0 400px #ff9d00; }
}
